@media (max-width: 480px) {

    .temperature {
        font-size: 2.7rem;
    }

    .feelsLike {
        font-size: 1rem;
    }

    .feelsLike span {
        font-size: 1.2rem;
    }

    .tempContainer {
        gap: 1rem;
    }

    .icon {
        width: 3rem;
    }

    .dataField {
        gap: 2rem;
    }
}

@media (max-width: 330px) {
    .temperature {
        font-size: 2rem;
    }
    .feelsLike {
        font-size: 0.8rem;
    }
    .feelsLike span {
        font-size: 1rem;
    }

    .tempContainer {
        gap: 0rem;
    }
    .condition {
        font-size: 0.8rem;
    }
    .sunriseContainer img, .sunsetContainer img, .windSpeedContainer img, .humidityContainer img {
        width: 4rem;
        height: 4rem;
    }
    .humiditySection span, .windSpeedSection span, .sunriseContainer span, .sunsetContainer span {
        font-size: 1rem;
    }
}